.columns{
  display: table;
}
.column{
  display: table-cell;
}
img{
	border: 0;
}
.navbar .container{
  display: table;
}
.navbar-brand{
  float: left;
}
.navbar-menu{
  float: right;
}
.navbar-brand, .navbar-menu{
  display: table-cell;
}
.navbar-brand a.navbar-item{
  display: block;
  float: left;
  width: auto;
}
.navbar-end{
  display: table-row;
}
.navbar-item{
  display: table-cell;
}
.navbar-dropdown a.navbar-item{
  display: table-row;
  float: left;
  padding: 10px 20px;
  width: 100%;
}
.navbar-divider{
  width: 100%;
}
table.table td[data-label="Actions"]{
  display: table;
}
table.table td[data-label="Actions"] a{
  display: table-cell;
}
form[name="setting_form"] .field{
  display: table;
}
form[name="setting_form"] .field .field-body .field{
  width: 100%;
}
form[name="setting_form"] .control{
  float: left;
  width: 100%;
}
form[name="setting_form"] .control input{
  float: left;
  width: 100%;
}
form[name="setting_form"] .control .icon{
  position: absolute;
  top: 50%;
  transform: translateY(-25%);
  left: 10px !important;
}