img{
	border: 0;
}
.card-equal-height{
	display: table-cell;
}
.card{
	min-height: 250px;
}
.card a{
	display: table;
}
.columns{
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
} 
.column{
	float: left;
	width: 25%;
	margin: auto;
}
.card-image, .card-content{
	display: table-row;
	height: 50%;
	min-height: 125px;
}
.container .columns img{
	width: 100%;
	height: auto;
	border: 0;
	padding: 15px;
}
.card-image figure{
	display: table-cell;
	vertical-align: middle;
}