/* Large Devices, Wide Screens / IE10-11-Edge Only */
@media only screen and (min-width : 1200px) and (-ms-high-contrast: active), (-ms-high-contrast: none) { 

  img{
    border: 0;
  }
  .navbar-link:after{
    color:#4a4a4a !important;
  }
  .card{
    height: 100%;
    min-height: 250px;
  }
  .card a{
    text-decoration: none;
    border: 0;
  }
  .card-image, .card-content{
    height: 50%;
    position: relative;
    max-width: 100%;
    min-height: 125px;
  }
  .card-content .content{
    display: table-row;
    vertical-align: middle;
  }
  .card-equal-height{
    display: table;
    margin: auto;
    height: 100%;
  }
  .container .columns figure{
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
  }
  .container .columns img{
    width: 100%;
    height: auto;
    border: 0;
    padding: 15px;
  }

}

/* Medium Devices, Desktops / IE10-11-Edge Only */
@media (min-width : 992px) and (max-width: 1199px) and (-ms-high-contrast: active), (-ms-high-contrast: none) {

	/* PUT THE CODE HERE */ 

}

/* Small Devices, Tablets / IE10-11-Edge Only */
@media (min-width : 768px) and (max-width: 991px) and (-ms-high-contrast: active), (-ms-high-contrast: none) {

	/* PUT YOUR CODE HERE */

}

/* Extra Small Devices, Phones */ 
@media (min-width : 480px) and (max-width: 767px){

	/* PUT THE CODE HERE */ 

}

/* Custom, iPhone Retina */ 
@media screen and (min-width : 320px) and (max-width: 479px) {

	/* PUT THE CODE HERE */ 

}

/* HEIGHT RESPONSIVE QUERIES */
@media screen and (min-height: 900px){

	/* PUT THE CODE HERE */ 

}

/* Tall screens */
@media screen and (min-height: 800px) and (max-height:899px){

	/* PUT THE CODE HERE */ 

}

/* Mid-height screens */
@media screen and (min-height: 500px) and (max-height: 799px){

	/* PUT THE CODE HERE */ 

}

/* Small-height screens */
@media screen and (max-height: 499px) {

	/* PUT THE CODE HERE */ 

}