html,body {
  background: #EFF3F4;
  font-family: 'Open Sans', serif;
}
.hero-body .container {
  max-width: 700px;
}
.hero-body .title {
  color: hsl(192,17%,99%) !important;
}
.hero-body .subtitle {
  color: hsl(192,17%,99%) !important;
  padding-top: 2rem;
  line-height: 1.5;
}
.box.cta {
  border-radius: 0;
  border-left: none;
  border-right: none;
}
.card-image > .fa {
  font-size: 8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #209cee;
}
.card-content .content {
  font-size: 14px;
  margin: 1rem 1rem;
}
.card-content .content h4 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}
.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  margin-bottom: 2rem;
}
.intro {
  padding: 2rem 0;
  text-align: center;
}
.sandbox {
  padding: 5rem 0;
}
.tile.notification {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.is-shady {
  animation: flyintoright .4s backwards;
  background: #fff;
  box-shadow: rgba(0, 0, 0, .1) 0 1px 0;
  border-radius: 4px;
  display: inline-block;
  /* margin: 10px; */
  position: relative;
  transition: all .2s ease-in-out;
}
.is-shady:hover {
  box-shadow: 0 10px 16px rgba(0, 0, 0, .13), 0 6px 6px rgba(0, 0, 0, .19);
}
/*adds font awesome stars*/
footer li:before {
  content: '\f1b2';
  font-family: 'FontAwesome';
  float: left;
  margin-left: -1.5em;
  color: #147efb;
}

/* CUSTUM CSS */
.card-equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center; 
}
.card-equal-height .card-footer {
  margin-top: auto;
}
.card-image {
  margin: 10px 20px 20px 20px;
}
.see_stock_btn {
  margin-top: 15px;
}
.is-vertical-center {
  display: flex;
  align-items: center;
}
.field-label {
  flex-grow: initial;
  text-align: left;
  margin-bottom: 1pc;
}
.field .control {
  margin-bottom: 0px !important;
}
.notification {
  position:absolute;
  left:50%;
  transform: translateX(-50%);
  /* display: none; */
}
table td, table th {
  vertical-align: middle !important;
  text-align: center;
}
.table_wrapper {
  overflow-x: auto;
}