body{
  position: relative;
}
img{
	border: 0;
}
.intro{
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Helvetica';
}
.intro .title{
  margin: auto;
  display: inline-block;
}
.card-equal-height{
	display: table-cell;
}
.card{
  min-height: 250px;
  max-height: 250px;
  float: left;
}
.card a{
	display: table;
}
.columns{
	display: table;
	margin-left: auto;
	margin-right: auto;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  position: relative;
}
.columns .column{
	width: 25%;
  margin: 20px;
  display: table-cell;
  font-family: 'Helvetica';
}
.card-image, .card-content{
	display: table-row;
  height: 50%;
	min-height: 125px;
}

.card-content .content{
  display: table-cell;
  margin: auto;
}
.card-image img{
  width: 80%;
  margin: auto;
  padding: 15px;
  height: auto;
}
.container .columns img{
	width: 100%;
	height: auto;
	border: 0;
	padding: 15px;
}
.card-image figure{
	display: table-cell;
	vertical-align: middle;
}