.container{
  width: 100%;
  display: table;
  background-color: white;
}
.container .navbar-brand .navbar-item img{
  max-height: 30px;
}
.container .navbar-menu{
  position: relative;
  font-family: 'Helvetica';
}
.container .navbar-menu .navbar-dropdown{
  display: none;
}
.container .navbar-menu .navbar-dropdown.active{
  display: table;
  position: relative;
  background-color: #e0e0e0;
  float: left;
}
.container .navbar-menu .navbar-dropdown .navbar-item{
  padding: 2px;
}