img{
	border: 0;
}
.navbar .container{
  display: table;
}
.navbar-brand{
  float: left;
}
.navbar-menu{
  float: right;
}
.navbar-brand, .navbar-menu{
  display: table-cell;
}
.navbar-brand a.navbar-item{
  display: block;
  float: left;
  width: auto;
}
.navbar-end{
  display: table-row;
}
.navbar-item{
  display: table-cell;
}
.navbar-dropdown a.navbar-item{
  display: table-row;
  float: left;
  padding: 10px 20px;
  width: 100%;
}
.navbar-divider{
  width: 100%;
}