/* Large Devices, Wide Screens / IE10-11-Edge Only */
@media only screen and (min-width : 1200px) and (-ms-high-contrast: active), (-ms-high-contrast: none) { 

  img{
    border: 0 !important;
  }
  .navbar-link:after{
    color:#4a4a4a !important;
  }

}

/* Medium Devices, Desktops / IE10-11-Edge Only */
@media (min-width : 992px) and (max-width: 1199px) and (-ms-high-contrast: active), (-ms-high-contrast: none) {

  img{
    border: 0 !important;
  }
  .navbar-link:after{
    color:#4a4a4a !important;
  }

}

/* Small Devices, Tablets / IE10-11-Edge Only */
@media (min-width : 768px) and (max-width: 991px) and (-ms-high-contrast: active), (-ms-high-contrast: none) {

	/* PUT YOUR CODE HERE */

}

/* Extra Small Devices, Phones */ 
@media (min-width : 480px) and (max-width: 767px){

	/* PUT THE CODE HERE */ 

}

/* Custom, iPhone Retina */ 
@media screen and (min-width : 320px) and (max-width: 479px) {

	/* PUT THE CODE HERE */ 

}

/* HEIGHT RESPONSIVE QUERIES */
@media screen and (min-height: 900px){

	/* PUT THE CODE HERE */ 

}

/* Tall screens */
@media screen and (min-height: 800px) and (max-height:899px){

	/* PUT THE CODE HERE */ 

}

/* Mid-height screens */
@media screen and (min-height: 500px) and (max-height: 799px){

	/* PUT THE CODE HERE */ 

}

/* Small-height screens */
@media screen and (max-height: 499px) {

	/* PUT THE CODE HERE */ 

}